<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-light">
    <main class="">
      @require('../partials/header.html')

      <section class="about">
        <div class="container border border-warning w-75 p-3 d-flex flex-wrap align-content-center">
          <div class="row">
        <h1 class="mb-3 text-center text-secondary">Hakkımızda</h1>
        <p class="content text-center mt-5 ml-2 text-secondary">10 Yıllık E-ticaret Marka Deneyimine Hoş Geldiniz.Türkiye'nin online alışveriş 
          sitesi TECH, 2006 yılında kurulan e-ticaret sektöründe kullanıcılarına kesintisiz hizmet vermektedir. TECH, 
          yenilikleri ile Türkiye'nin dijital alışveriş sektöründeki yerini koruyor. Online alışveriş deneyimini her geçen gün daha kolay hale getiren,
          dijitalleşen dünyanın gereklerine uygun gelişmelerle sizlere sunuyor. 
          Sektörde 15’nci yılını geride bırakan TECH; Akıllı Telefonlardan Bilgisayarlara ve Kulaklıklara kadar bol çeşit ürünü 
          mağazacılık ve online perakendeciliğin sayısız avantajlarını müşterilerimize entegre olarak sunuyoruz. TECH, markasına ve çalışanlarına 
          sürekli yatırım yaparak, uzman insan kaynağı yetiştirerek, müşteri memnuniyeti için yenilikçi hizmetlere öncülük ederek, tüketicilerin 
          ihtiyaçlarına göre en uygun kanal yapısı ile ürün karmasını oluşturarak ve cesur adımlar atarak sektördeki deneyimlerini kullanıcılarla 
          buluşturmaktadır.Çoklu kanalda kesintisiz hizmet, güçlü müşteri deneyimi müşterilerinin teknoloji ihtiyacını karşılamak üzere her kanalda 
          entegre hizmet veren Teknoloji Mağazası, hem çağrı merkezi (0 212 111 11 11) hem sosyal medya hesaplarından ulaşılabilecek Müşteri
          Hizmetleri, fiziki mağaza imkanının yanı sıra "https://www.techshop.com" online alışveriş platformu ile müşterilerinin daima yanında yer 
          almaktadır. Müşterileriyle online kanalda gerçek zamanlı birebir iletişim kurduğu web-chat ve iletişim uygulamaları üzerinden 
          müşterilerine alışveriş yolculukları için destek veren TECH, bu kanallar aracılığıyla sipariş oluşturma ve kargo takip hizmetine de 
          devam etmektedir. Teknoloji Mağazası, herkesin artan teknoloji ihtiyaçlarıyla bir an önce buluşması için, belirli ürünlerde hafta içi 
          16:00'a kadar verilen siparişlerde aynı gün kargo imkanı sunmaktadır.        
          
          <p class="content text-center mt-2 ml-2 text-secondary">Vizyon: Yenilikçi ve Fark Yaratan ürün ve hizmetlerle faaliyet gösterilen 
            alanlarda en iyi kaliteyi sunabilmek.</p>
          
          
          <p class="content text-center mt-2 ml-2 text-secondary">Misyon: Online satış kanallarıyla, sunduğu zengin ve kaliteli teknolojik ürün
            gamı ve kaliteli hizmetleriyle, müşterilerinin yanında olmak.</p>
          
          
          <p class="content text-center mt-2 ml-2 text-secondary">Değerler: Müşteri memnuniyetini ön planda tutan, etik kurallarının ve sosyal 
            sorumluluklarının bilincinde, gelişime ve geliştirmeye açık, genç v dinamik bir firmadır. </p>
          
        
        <p class="content text-center mt-2 ml-2 text-secondary">Kalite Politikası: Sunduğumuz teknolojik ürün gamı ve hizmetlerle; müşteri 
            memnuniyetini ön planda tutan, tedarikçilerle ilişkilerini sürekli geliştiren, çalışanlarının gelişimine önem veren, kalite yönetim 
            sisteminin sürekliliğini ve etkinliğini modern yönetim tekniklerini uygulayarak sağlayan, ölçen ve iyileştiren, yeniliklere açık bir 
            firmayız.</p>
          
          
          <p class="content text-center mt-2 ml-2 text-secondary">Şirket Yönetim Politikası: Tüm etkileşim kanallarımızdan ulaşan şikayet ve 
            talepleri, yasalar ve şirket kuralları çerçevesinde, gizliliğe önem vererek adil ve objektif olarak değerlendiren, böylelikle şikayet 
            yönetim sistemini sürekli iyileştirerek müşteri memnuniyetini artıran bir firmayız.</p>
          
          
          <p class="content text-center mt-2 ml-2 text-secondary">Bilgi Güvenliği Politikası: TECH, kurumsal bilgiyi son derece 
            değerli bir varlık olarak görür; bu nedenle bilgi ve bilginin üzerinde tutulduğu destek iş sistemleri, kurum içinde tanımlanmış iş 
            süreçleri açısından kritik önem taşır ve uygun şekilde korunmasının gerekliliğini kabul eder.</p>
      </section>
    </div>
    </div>

      @require('../partials/footer.html')
    </main>
  </body>
</html>
