<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TECH Teknoloji Mağazası</title>
  </head>
  <body class="bg-light">
    <main>
      <div class="top text-center text-warning" data-text="YIL SONUNA KADAR KARGO BEDAVA!">
        <div class="container-fluid">YIL SONUNA KADAR KARGO BEDAVA!
          </div>
        </div>
    </div>
      @require('../partials/header.html')
      <div class="image-header">
        <img src="https://www.pt.com.tr/uploads/images/5611462761667540886.png" class="mt-5" width="1000px"/>
      </div>
      <section class="container content">
        <h1 class="text-center text-danger my-5">Apple Telefonlar</h1>
        <div class="product-list d-flex flex-nowrap">
      <div class="sidebar">  
        @require('../partials/sidebar.html')
      </div>
        <div class="row">
          <div class="col-lg-12 order-2 order-lg-1">
            @require('../partials/product-list.html')
          </div>
          
      </section>

      @require('../partials/footer.html')
    </main>
  </body>
</html>
