<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TECH Teknoloji Mağazası</title>
  </head>
  <body class="bg-light">
    <main>
      @require('../partials/header.html')
      </div>

      <section class="content">
        <h1 class="text-center my-5">Kayıt Sayfası</h1>
      <div class="register w-25 m-auto">  
        @require('../partials/registerpage.html')
      </div>
      </section>


      @require('../partials/footer.html')
    </main>
  </body>
</html>
