<div class="row gx-3 gy-5">
    <h4 class="text-center fw-bold text-danger text-opacity-75">Akıllı Telefonlar</h4>
   <div class="col-12 col-md-3">
      <div class="card">
        <img
        src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRYcBcBiNefvu08j-1m5ZeVHxDyVP2LA_lXVlG7k3gKN_aDAH_h4kVhEj-_tT6Z0rdHZnLlOvdCamFl7B9gUeinmmdg15HQ9tE56zMbQgMkuLvAsYwuhRR_BfE&usqp=CAE"
        class="card-img-top"
        alt="Iphone 14 Pro-Derin Mor"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Iphone 14 Pro</h5>
        <p class="product-color fs-5">Derin Mor</p>
        <p class="card-text">
          1 TB
        </p>
        <p class="card-price">
          52.969,00 TL
        </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-3">
      <div class="card">
        <img
          src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSO1TtnLLowAaB0LnZk6wCKsbYz3e3c9uWarfjiKfCRC3oZOa_cJIJo6QrDSMgtB-BTCWU3hDzzviJXd-w_N5nkm47g4AdIRc1w2XZDby4&usqp=CAE"
          class="card-img-top"
          alt="Samsung Z Fold2"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Samsung Z Fold2</h5>
          <p class="product-color fs-5">Bronz</p>
          <p class="card-text">
            256 GB
          </p>
          <p class="card-price">
            23.764,03 TL
          </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-3">
      <div class="card">
        <img
          src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSzRymc5v6oeTXKk1yPiur0UvxUhTZcusgNXO0O0SMwzjn4xtECxHDP_m9fnbQUOD4T5J8PrY3zuFeEgpNeO9KBxVYMi9d30Z1AjjvEdJ2Y&usqp=CAE"
          class="card-img-top"
          alt="Xiaomi Mi 12T Pro"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Xiaomi Mi 12T Pro</h5>
          <p class="product-color fs-5">Gri</p>
          <p class="card-text">
            256 GB
          </p>
          <p class="card-price">
            23.280,00 TL
          </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-3">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQqHj6lDcIsQoTFhyfSauQut0upKcQ3bhW5MgrqBD4cd8Y8iN1iSPLXi1Kon0QtVmovYTYfwUGVda8a2QEPPW4oC2CFsXGv0-AgYEW5k2YF&usqp=CAE"
          class="card-img-top"
          alt="Oppo Reno 4 Pro"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Oppo Reno 4 Pro</h5>
          <p class="product-color fs-5">Mavi</p>
          <p class="card-text">
            256GB
          </p>
          <p class="card-price">
            16.005,00 TL
          </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <h4 class="text-center fw-bold text-info text-opacity-75">Bilgisayarlar</h4>
    <div class="col-12 col-md-3">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQQxo8arH2domii4LeKQ9ogIYEEIXc12ZbCfOvfYLVnjrg7ffUiMiblGjPCk5Fxd7ndXreF6Pcccz_iyDJhA06nA1S6wjsgQjwAxaZFk1wlF57DiAdk2d0u&usqp=CAE"
          class="card-img-top"
          alt="Apple Macbook Pro"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Apple Macbook Pro</h5>
          <p class="product-color fs-5">13" M1 Gümüş</p>
          <p class="card-text">
            8GB/256GB
          </p>
          <p class="card-price">
            24.348,00 TL
          </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-3">
      <div class="card">
        <img
        src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcT0Lr5YjUCGUCGO8MaDebQRaVCn7fEdyZI1P8MySaBMqZotOaQhNqWYvZZWWzSTB9KdgGpgDdKLk8aYWAZ-IrGEaqGOl1ovuKsR5HlECgoL&usqp=CAE"
        class="card-img-top"
        alt="Asus Tuf Gaming F15"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Asus Tuf Gaming F15</h5>
        <p class="product-color fs-5">Intel Core i5 10300H</p>
        <p class="card-text">
            8GB+512GB SSD
        </p>
        <p class="card-price">
            17.600,00 TL
        </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-3">
      <div class="card">
        <img
        src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTioKG5lUWizSgwHN1tRlsYGHOdkjVni_8ghsAGY7VZXYG88X9VMa7PUMRen8U-cSWeC_e1GQhkSzf0wFFA3jlkNw0Gof-WxYO08SXnSlKhq0pAIO7RWUeM&usqp=CAE"
        class="card-img-top"
        alt="Lenovo ThinkPad E15"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Lenovo ThinkPad E15</h5>
        <p class="product-color fs-5">Gen3 M.2 15.6"</p>
        <p class="card-text">
            16GB+1TB SSD
        </p>
        <p class="card-price">
            19.499,99 TL
        </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-lg-3">
      <div class="card">
        <img
        src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTU07rKF9AFxdmt0HtRuMHFe88zfajylQAvJsNtLRFg_Lr3LAThK16R3Io8bJBvDl6EBoQFC5fTHP-SQX4N0IZ_CUGVshXUppfIh24XYmc&usqp=CAE"
        class="card-img-top"
        alt="Dell Inspiron 7400"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Dell Inspiron 7400</h5>
        <p class="product-color fs-5">Intel Core I7 14.5"</p>
        <p class="card-text">
            8GB+512GB SSD
        </p>
        <p class="card-price">
            23.123,06 TL
        </p>
          <a href="#" class="btn btn-secondary">Sepete Ekle</a>
        </div>
      </div>
    </div>

    <h4 class="text-center fw-bold text-warning text-opacity-75">Kulaklıklar</h4>
    <div class="col-12 col-md-3">
        <div class="card">
          <img
            src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQIN223j0HuXDSvkVaOGR-u97LFsVDBO5EaUAPzFgZ9U_Cg7fhLRSAjMn-lXLabJPV0H7oKAJX_thcLrWfXqqE2MEKFeN0MwZLR5msRQA2oG3RcsjEDwJ_bXw&usqp=CAE"
            class="card-img-top"
            alt="	
            Apple Airpods Pro"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Apple Airpods Pro</h5>
            <p class="product-color fs-5">Bluetooth Kulaklık</p>
            <p class="card-text">
                Beyaz
            </p>
            <p class="card-price">
              4.499,00 TL
            </p>
            <a href="#" class="btn btn-secondary">Sepete Ekle</a>
          </div>
        </div>
      </div>
    
      <div class="col-12 col-md-3">
        <div class="card">
          <img
            src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcS2S9So1MJvMltkY4M7uurGF4c7oTMgTHz3WaCcJ9ZNEkSM9G9jsDRX5pFWpHQ4w4cM1d2ldI3DGRZlUdhqV4eydDdx6UlemHENzVQQwW-BHRlhVdoQVvJ-&usqp=CAE"
            class="card-img-top"
            alt="Marshall Minor Iıı Bt"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Marshall Minor Iıı Bt</h5>
            <p class="product-color fs-5">Bluetooth Kulaklık</p>
            <p class="card-text">
              Siyah
            </p>
            <p class="card-price">
                3.559,11 TL
            </p>
            <a href="#" class="btn btn-secondary">Sepete Ekle</a>
          </div>
        </div>
      </div>
    
      <div class="col-12 col-md-3">
        <div class="card">
          <img
            src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQInOJukX7FgS6y5Yug9CbL9zcretJukoVD5sM-7DJ4p3-ql-76fpz-DcMfjrzPdiZBoC5Vr1iW8RcLeexGUIDi1TuvE1AzsPEOC0qmfJ3r&usqp=CAE"
            class="card-img-top"
            alt="Jbl Tune 230NC"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Jbl Tune 230NC</h5>
            <p class="product-color fs-5">Bluetooth Kulaklık</p>
            <p class="card-text">
              Krem
            </p>
            <p class="card-price">
                1.430,10 TL
            </p>
            <a href="#" class="btn btn-secondary">Sepete Ekle</a>
          </div>
        </div>
      </div>
    
      <div class="col-12 col-md-3">
        <div class="card">
          <img
            src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQcpB4Yd71mE7WxuHjAi4WKLqHQgBdE5cNXsUlMb4Hf5GypF5JxrA65TqRBeoX0oqICQIpSVPMCM7MIYHrPXPbWcJdQeaKbhDJfZB9shGI&usqp=CAE"
            class="card-img-top"
            alt="Iphone 12 Mini-Yeşil"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Samsung Buds Pro</h5>
            <p class="product-color fs-5">Bluetooth Kulaklık</p>
            <p class="card-text">
              Mor
            </p>
            <p class="card-price">
                660,00 TL
            </p>
            <a href="#" class="btn btn-secondary">Sepete Ekle</a>
          </div>
        </div>
      </div>