<div class="form-signin w-100 m-auto text-center">
    <form>
      <h2 class="h3 mb-3 fw-normal">Lütfen kaydolun.</h2>

      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="isim Soyisim">
          <label for="floatingInput">İsim Soyisim</label>
        </div>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">E-posta</label>
      </div>

      <div class="form-floating">
          <input type="tel" class="form-control" id="floatingInput" placeholder="05XX XXX XX XX">
          <label for="floatingInput">Telefon Numarası</label>
        </div>

      <div class="form-floating">
      <input type="date" class="form-control" id="floatingInput" max='2005-01-01'>
      <label for="floatingInput">Doğum Tarihi (Size özel kampanyalar için)</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
        <label for="floatingPassword">Şifre</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="campaign"> Kampanyalardan haberdar olmak istiyorum.
        </label>
      </div>
      <a href="index.html" class=" button w-50 btn btn-lg btn-secondary"  type="submit">Kaydol!</a>
    </form>
  </div>